.ProfileContainer {
    text-align: center;
    height: 85vh;
}

.Profile {
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 5px;
    box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.1);
    padding: 20px;
    margin: 10px;
    position: relative;
    top: 25%;
    text-align: center;
    max-width: 100%;
    min-width: 250px;
    background-color: hsl(200, 56%, 35%);
    display:inline-block;
}

.Profile .ProfileTitle {
    font-size: 2.5em;
    font-weight: bold;
    margin: 0;
    font-family: "QuickSand", sans-serif;
    color:hsl(0, 0%, 15%);
}

.Profile .ProfileText {
    font-size: 1.1em;
    margin: 0;
    font-style: bold;
    font-family: "QuickSand", sans-serif;
    color:hsl(0, 0%, 0%);
    display: inline-block;
}

.Profile .ProfileAnswerText {
    font-size: 1.1em;
    margin: 0;
    font-family: "QuickSand", sans-serif;
    color:hsl(0, 0%, 10%);
    display: inline-block;
}

.Profile input {
    font-size: 14px; /* Adjust the font size as needed */
    width: 270px; /* Adjust the width as needed */
    padding: 5px; /* Adjust the padding as needed */
  }

.Profile .SubmitButton {

    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 3px;
    color: #fff;
    background: #000;
    font-size: 15px;
    font-weight: 600;
    line-height: 28px;
    padding: 12px 20px;
    text-align:center;
    transition-duration: .15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    :hover{
        color: #000;
        background: rgb(255, 218, 87);
    }
}

.Profile .smallIcon {
    width: 150px;
    margin: 5px;
    border-radius: 75px;
    border: solid 1px hsl(0, 0%, 20%);
    box-shadow: hsl(0, 0%, 5%) 5px 5px 5px;
    display: inline-block;
    position: relative;
}