.cardContainer {
    text-align: center;
    height: 100%;
}

.card {
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 5px;
    box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.1);
    padding: 20px;
    margin: 10px;
    position: relative;
    top: 25%;
    text-align: center;
    max-width: 350px;
    min-width: 250px;
    background-color: hsl(200, 56%, 35%);
    display:inline-block;
}

.card:hover {
    cursor:pointer;
}

.card .cardImage {
    max-width: 60%;
    height: auto;
    margin-bottom: 5px;
}

.card .cardTitle {
    font-size: 2.5em;
    font-weight: bold;
    margin: 0;
    font-family: "QuickSand", sans-serif;
    color:hsl(0, 0%, 15%);
}

.card .cardText {
    font-size: 1em;
    margin: 0;
    font-family: "QuickSand", sans-serif;
    color:hsl(0, 0%, 15%);
}